h1 {
    text-align: center;
}

table {
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid;
    width: 80%;
}

button {
    background-color: blue;
}

.text-center {
    text-align: center;
}

.search {
    float: center; 
}

.searchbox {  
float: left;  
}  
input[type=text] {  
padding: 6px;  
margin-top: 8px;  
font-size: 17px;  
border: none;  
}  
.searchbox button {  
  
padding: 8px;  
margin-top: 10px;  
margin-left: 10px;   
font-size: 20px;  
border: none;  
cursor: pointer;  
}  
.searchbox button:hover {  
background: rgb(208, 37, 37);  
}  
